body{
  background-size: 100% 340%;
  
}

.main{
  text-align: center;
  font-size: 35px;
}

h1{
  color:rgb(102,102,153) ;
  margin-top: 2%;
  
}

ul{
  list-style-type: none;
}

.link{
  font-size: 20px;
  color: rgb(150,150,150);
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}


