body{
  background-image: url("./background.webp");
  background-repeat: no-repeat;
  background-size: 100% 340%;
  
}

.main{
  text-align: center;
  font-size: 25px;
}

h1{
  color: green;
  margin-top: 2%;
}

ul{
  list-style-type: none;
}

.link{
  font-size: 20px;
  color: green;
  text-decoration: none;
  
}


